<html ng-app="myApp">
<head>
   <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" href="./bootstrap/css/bootstrap.min.css" />
  
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular-route.js"></script>
 <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
	<script src="/bootstrap/js/bootstrap.min.js"></script>

 





</head>

<body>




<nav class="navbar navbar-inverse">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/Home">HOME</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <div ng-controller="nav">
       <ul class="nav navbar-nav">
      <li ng-repeat="x in navbar"><a href="{{x.address}}">{{x.name}}</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
      
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">MY SKILLS<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li ng-repeat="x in drop1"><a href="{{x.address}}">{{x.name}}</a></li>
          </ul>
        </li>  
          <li class="dropdown">
           <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">MORE ABOUT ME<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li ng-repeat="data in drop"><a href="{{data.address}}">{{data.name}}</a></li>
        
          </ul>
          </li>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div ng-view>
	</div>
	  <script src="myindex.js"></script>
<script src="/views/contact/js/contact.js"></script>  
<script src="/views/interpersonal/js/inter.js"></script>  

	 
	   

</div>
	

</body>
</html>
