


<div class="container">
  <h2>Modal Example</h2>
  <!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">POGAMMING LANGUAGES </h4>
        </div>
        <div class="modal-body">
          <p>C,C++,JAVA,c#,andoid development</p>
        </div>
        <div class="progress">
        <div class="progress-bar progress-bar-success" style="width: 40%">
          C (40%)
        </div>
        <div class="progress-bar progress-bar-warning" style="width: 25%">
            C++ (25%)
        </div>
        <div class="progress-bar progress-bar-danger" style="width: 15%">
            JAVA (15%)
        </div>
    </div>
         <div class="modal-content">
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">WEB DEVELOPMENT SKILLS</h4>
        </div>
        <div class="modal-body">
          <p>HTML,CSS3,BOOTSTRAp,ASP.NET</p>
        </div>
         <div class="progress">
        <div class="progress-bar progress-bar-success" style="width: 40%">
            HTMl (40%)
        </div>
        <div class="progress-bar progress-bar-pimary" style="width: 25%">
            CSS (25%)
        </div>
        <div class="progress-bar progress-bar-danger" style="width: 15%">
            BOOTSTRAP(15%)
        </div>
    </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  
</div>
