

<div class="container">
  <h2>EXTRACURRICULAR ACTIVITIES</h2>
  <p>Click to see My Extracurricular performance.</p>
  <div class="panel-group">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" role="button" data-target="#collapse1">My Achievements</a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse">
        <div class="panel-body"><h2>Participated in district level competition and runner up in Tennekoit game held on 2012.</h2> </div>
         <div class="panel-body"><h2>Participated & won prizes in atheletics held on 2009-2010 and 2011-2012. 

</h2></div>
          <div class="panel-body"><h2>participated in seven day special camp programme on the theme "Healthy Youth for Healthy India" at ammanamabakkam village.</h2></div>
        
    </div>
  </div>
</div>
    
