<head>
  <link rel="stylesheet"href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	 <script src="E:\login\bootstrap-3.3.7-dist\js\bootstrap.min.js"></script>
     </head>

    <div class="jumbotron text-center"> <h2></style>WELCOME TO MY HOME PAGE</h2>
  <div class="text-center"><h1 style="font-family:cursive;">DO U WANT TO KNOW ABOUT ME</h1></div>
  
 <a class="btn btn-primary btn-lg" href="/clickhere" role="button">Click Here</i></a>
