<!DOCTYPE html>
<html lang="en">

<head>


   <!-- Custom CSS -->
    <link rel="stylesheet"href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
     <script src="E:\login\bootstrap-3.3.7-dist\js\bootstrap.min.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

  

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Workshop Attended
                    <small></small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="index.html">Home</a>
                    </li>
                    <li class="active">Workshop Attended</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Project One -->
        <div class="row">
            <div class="col-md-7">
                <a href="#">
                    <img class="img-responsive" src="and.jpg" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h3>Workshop1</h3>
                <h4>ANDROID APPLICATION DEVELOPEMENT</h4>
                <p>Learn to develop applications in the latest operating system with practical implementation and begin managing your own cool applications like a professional at this workshop. Attendees will be provided with instructions to build and manage new cool applications. What's more you can even sell out these application and earn good money.</p>
                <a class="btn btn-primary" href="#">View Project</i></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Two -->
        <div class="row">
            <div class="col-md-7">
                <a href="#">
                    <img class="img-responsive img-hover" src="ictact.jpg" alt="">
                </a>
            </div>
              <div class="col-md-5">
                <h3>Workshop2</h3>
                <h4>ICTACT YOUTH SUMMIT</h4>
                <p>ICTACT intends to encourage the schools, teachers, faculty in higher education sector that has effectively used ICT tools in education. Through this initiative, ICTACT elevates a platform for all higher education faculty members across the country, to showcase their best teaching practices using ICT tools. This scheme endeavors to identify the best practices in teaching using ICT tools and the faculty members who have implemented them.</p>
                <a class="btn btn-primary" href="#">View Project</i></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

          
        <!-- /.row -->

        

        <!-- Pagination -->
        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                    <li>
                        <a href="#">&laquo;</a>
                    </li>
                    <li class="active">
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                   
                    <li>
                        <a href="#">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
              
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
